html, body {
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
  font-size: 18px;
  overflow-x: hidden;
}

h1 {
  font-weight: 400;
  margin-bottom: 1em;
}

h2 {
  font-weight: 400;
  color: #ed637d;
}

h2:not(:first-child) {
  margin-top: 2em;
}

pre {
  white-space: pre-line;
}

a {
  color: #ed637d;
  text-decoration: none;
}

footer {
  padding: 2em 0;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .8em;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2em;
}

.header {
  padding: 1.5em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.header h1 {
  order: -1;
  text-align: center;
  width: 100%;
}

.accent {
  font-style: italic;
}

.color {
  color: #ed637d;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: .75em 1.25em;
  border-radius: 0;
  letter-spacing: .1em;
}

#download {
  background: #ed637d;
  color: white;
}

#download:hover {
  color: black;
  font-weight: 400;
}

#github {
  color: black;
  border: 1px solid black;
}

#github:hover {
  color: black;
  font-weight: 400;
}

@media (min-width: 680px) {
  .header h1 {
    order: 0;
    width: initial;
  }
}
